build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
ui/target/
ui/daw-bridge/target/

*.a
*.d
*.o
*.obj
*.pch
*.so
*.dylib
*.dll
*.exe

*.tmp
*.log

plugin_cache.json
state.bin

.DS_Store
.vscode/
